.banner_promocion{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image:url(../asserts//Hero.png);
    background-attachment: fixed;
    background-position:0 -100px;
    height: 330px;
    color: white;
    h2{
        font-weight: 700;
        font-size: 45px;
        margin: auto auto 0.3% 8%;
    }
    p{
        font-size: 19px;
        font-weight: 500;
        margin: 0 auto 2% 8%;
    }
    .boton{
        margin: 0 auto 2% 8%;
    }
}