@import './index.scss';
.seccion{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    .titulos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        h2{
            font-size: 22px;
            font-weight: 700;
            color: $GrisLetra;
        }
        a{
            text-decoration: none;
            color: $AzulBoton;
            font-weight: 600;
        }
    }
    .area_pagina{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap:25px;
        margin: 10px 0;
        
    }
}
.caja{
    display: flex;
    flex-direction: column;
    align-items: end;
    .area_opciones{
        position: absolute;
        display: flex;
        .opcion{
            margin: 0 3px;
            filter: drop-shadow(0 0 2px rgb(2, 0, 0));
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .imagen_producto{
        width: 100%;
        height: 120px;
    }
    h3{
        font-size: 0.9rem;
        font-weight: 500;
        margin: 5px auto 5px 0;
        color: rgb(70, 70, 70);
    }
    span{
        margin: 0 auto 5px 0;
        font-weight: 700;
        color: $GrisLetra;
    }
    a{
        font-weight: 600;
        text-decoration: none;
        color: $AzulBoton;
        font-size: 0.9rem;
        margin: 0 auto 0 0;
    }
}
@media (max-width:770px){
    .seccion{
        .area_pagina{
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .caja{
       
        h3{
            font-size: 0.8rem;
        }
        span{
           font-size: .8rem;
        }
        a{
            font-size: 0.8rem;
        }
    }
}